<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cowell_BasicTraining::training" title="Training" module="Cowell_BasicTraining"
             sortOrder="30" parent="Magento_Catalog::inventory"
             resource="Cowell_BasicTraining::list"
             action="cowell_basictraining/training/index"/>
    </menu>
</config>
